.card-collection
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.standout
{
  box-shadow: 
    rgba(0, 0, 0, .2) 0 1px 4px,
    rgb(51, 51, 51) 0 0 0 3px;
}

@media screen and (max-width: 868px) {
  .card-collection
  {
    grid-template-columns: 1fr;
  }
}
